* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  font-family: 'Comfortaa', cursive;
  background: transparent;
 }

 li {
  list-style: none;
 }

 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color:	#696969;
  color: black;
  border-style: outset;
  border-color: #DC143C;
 }

 .all-links a{
  color: black;
 }

 .logo {
  font-size: 32px;
  color: black;
 }

 .logo:hover{
  background-color:	#DC143C;
  border-radius: 5px;
  transition: 0.3s ease;
  border-style: outset;
  border-color: #DC143C;
 }

 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }

 .link:hover {
  background-color:	#DC143C;
  border-radius: 5px;
  transition: 0.3s ease;
  border-style: outset;
  border-color: #DC143C;
 }

 .link {
  padding: 5px 14px;
 }

 .logout-button, .favorited, .not-favorited {
   display: inline-block;
   background: #696969;
   border: none;
   color: black;
   font-family: 'Comfortaa', cursive;
   font-size: 18px;
   text-decoration: underline;
   padding: 5px 14px;
 }

 .favorited, .not-favorited {
   text-decoration: none;
 }

 .logout-button:hover, .favorited:hover, .not-favorited:hover {
   background-color: #DC143C;
   border-radius: 5px;
  transition: 0.3s ease;
  border-style: outset;
  border-color: #DC143C;
 }

 .form {
   padding: 15px;
   width: 400px;
   min-height: 400px;
   margin: 2% auto 0 auto;
 }

 .heading {
   text-align: center;
   margin-top: 1%;
 }

 .login-header {
  font-size: 3em;
  font-weight: 300;
  color: #696969;
  display: inline-block;
  padding-bottom: 5px;
  text-shadow: 1px 1px 3px
 }

 .float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px #696969;
  margin-top: 20px;
  background: #696969;
  border: none;
  font-size: 1.6em;
  font-weight: 300;
  padding: 5px 0;
  width: 100%;
  border-radius: 3px;
  color: black;
  border-bottom: 4px solid darken(#DC143C, 10%);
}

.float:hover {
  background-color:	#DC143C;
  border-radius: 5px;
  transition: 0.3s ease;
  border-style: outset;
  border-color: #DC143C;
}

.input-group {
  color: #DC143C;
  border-bottom: 1px solid #DC143C(255, 255, 255, 0.1);
  border-top: 1px solid #DC143C(255, 255, 255, 0.1);
}

span {
  background: transparent;
  min-width: 53px;
  border: none;
}

.form-control {
  padding: 10px;
  font-size: 1.6em;
  width: 100%;
  background: transparent;
  color: #DC143C;
}

.errors {
  padding: 10px;
  color: #DC143C;
}
 
 .headers {
   text-align: center;
   padding: 8px;
   font-size: 3em;
  font-weight: 300;
  color: #696969;
  padding-bottom: 5px;
  text-shadow: 1px 1px 3px
 }

 .cards {
   text-align: center;
   background: #696969;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 40%;
   margin-right: 40%;
   border-style: outset;
    border-color: #DC143C;
 }

 .inner-card {
   padding-top: 10px;
   padding-bottom: 10px;
   margin-left: 25%;
   margin-right: 25%;
 }

 .labels{
  color: #DC143C;
 }

 .song-links {
  padding: 5px 14px;
 }

 .song-links:hover {
  background-color:	#DC143C;
  border-radius: 5px;
  transition: 0.3s ease;
  border-style: outset;
  border-color: #DC143C;
 }

 .nav {
   color: black;
 }

 .welcomer {
   text-align: right;
   padding: 8px;
   font-size: 2em;
  font-weight: 300;
  color: #696969;
  padding-bottom: 5px;
  text-shadow: 1px 1px 3px
 }

 .song-show {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25%;
  margin-right: 25%;
  border-style: outset;
  border-color: #DC143C;
  background: #696969;
 }

 .lyrics {
  font-size: 3ch;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 15%;
  margin-right: 15%;
 }