* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  font-family: 'Comfortaa', cursive;
 }

 li {
  list-style: none;
 }

 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color:	#696969;
  color: black;
  border-style: outset;
  border-color: #DC143C;
 }

 .all-links a{
  color: black;
 }

 .logo {
  font-size: 32px;
  color: black;
 }

 .logo:hover{
  background-color:	#DC143C;
  border-radius: 5px;
  transition: 0.3s ease;
  border-style: outset;
  border-color: #DC143C;
 }

 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }

 .link:hover {
  background-color:	#DC143C;
  border-radius: 5px;
  transition: 0.3s ease;
  border-style: outset;
  border-color: #DC143C;
 }
 .link {
  padding: 5px 14px;
 }
 .logout-button {
   background-color: #696969;
   border: none;
   color: black;
   font-family: 'Comfortaa', cursive;
   font-size: 18px;
   text-decoration: underline;
 }
 .logout-button:hover {
   background-color: #DC143C;
   border-radius: 5px;
  transition: 0.3s ease;
 }
 .login {
   background-color: #696969;
   border-style: outset;
   border-color: #DC143C;
   margin-right: 33%;
   margin-left: 33%;
   margin-top: 25%;
   padding-top: 5%;
   padding-bottom: 5%;
 }

 
 .headers {
   margin: 10%;
 }